.loader {
  align-self: center;
}

.home-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .home-fl-image {
    height: 48px;
    width: 48px;
    margin-bottom: 20px;
  }

  .home-fl-para {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 15px;
  }

  .home-fl-button {
    width: 94px;
    height: 32px;
    border: none;
    cursor: pointer;
    padding: 2px, 12px, 2px, 12px;
    background-color: #ffffff;
    color: #171f46;
    border-radius: 8px;
  }

  .trending-slider-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    min-height: 170px;
    margin-bottom: 20px;
  }

  .trending-main-heading {
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
    align-self: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .trending-main-heading {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
    align-self: flex-start;
  }

  .trending-slider-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    min-height: 90px;
    margin-bottom: 20px;
    align-self: center;
  }

  .home-fl-para {
    font-size: 13px;
    color: #ffffff;
    margin-bottom: 15px;
  }

  .home-fl-button {
    width: 77px;
    height: 28px;
    border: none;
    cursor: pointer;
    padding: 4px, 16px, 4px, 16px;
    background-color: #ffffff;
    color: #171f46;
    border-radius: 8px;
  }

  .home-fl-image {
    height: 24px;
    width: 24px;
    margin-bottom: 20px;
  }
}
